body {
  background-color: #fafafa;
  margin: 0;
}

#home-container {
  margin-left: 240px;
}

.left-nav-icon {
  padding: 10px 20px;
  cursor: pointer;
  box-sizing: content-box;
  font-size: 18px;
  color: rgb(143, 143, 143);
}

.left-nav-input {
  text-align: center;
  outline: none;
  border: none;
  background-color: rgb(230, 230, 230);
  color: black;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  padding: 0;
  width: 95%;
}

.headline-text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
}

.body-text {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: black;
}

.entry-card-container-div {
  display: flex;
  flex-wrap: wrap;
}

.entry-card-div {
  width: 20%;
  min-width: 225px;
  margin: 10px;
}

.entry-card-canvas-div {
  display: flex;
  justify-content: center;
}
.entry-card-no-canvas {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-entry-procedure-date {
  display: inline;
  margin: 0px 30px;
}

.view-entry-procedure-entry {
  display: inline;
}

#view-entry-paper {
  width: 70%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

#view-entry-paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  background-color: rgba(255,0,0,0.6);
}

#view-entry-pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

#view-entry-content {
  padding-top: 6px;
  padding-left: 15.5%;
  padding-right: 16px;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.view-entry-text {
  display: inline;
}

#view-entry-div-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

#container-canvas{
  padding: 20px;
}

#canvas-div{
  padding: 30px;
}

#canvas-id {
  border: 1px solid black;
}

.new-entry-text-container {
  width: 900px;
  margin-top: 10px;
}

#add-procedure-date-container {
  display: inline-block;
  margin: 20px;
  width: 10%;
}

#add-procedure-entry-container {
  display: inline-block;
  width: 80%;
}

#new-entry-number-container {
  width: 100%;
  text-align: right;
}

.view-all-bk-entries {
  margin-left: 220px;
}
